<meta charset="UTF-8">
<title><%= TITLE %></title>
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="<%= DESCRIPTION %>">
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="<%= TITLE %>">
<meta property="og:description" content="<%= DESCRIPTION %>">
<meta property="og:site_name" content="<%= TITLE %>">
<meta property="og:type" content="website">
<meta property="og:image" content="<%= IMAGE %>ogp.jpg">
<link rel="stylesheet" href="<%= ASSET %>css/style.css">
